.containerdiv{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
.formLayout{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap:30px;
}

.internalformLayout{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:30px;
}

.secondformLayout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
}

.pwdcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.submitbtn{
    display:flex;
    align-items: center;
    justify-content: center;
    width:20%;
    margin-top: 20px;
}